body,
#root {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#bigSection {
    background-color: #baa5ff;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#bigSection h1 {
    background-color: #baa5ff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    position: sticky;
    top: 0;
}
