.card-body {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    border-left-width: 10px;
    border-left-style: solid;
    width: 100%;
}
.card {
    width: 80%;
    background-color: white;
    margin: 5px;
    box-shadow: 1px 1px 5px #222222;
}
.card:hover,
.card:active {
    opacity: 0.8;
}
